<h2>Create A New Figure:</h2>
<form method="post" action="/figures">
  <label>Name: <input name="figure[name]" type="text" id="figure_name"></label>
  <p>Choose your figure's titles:</p>
  <% all_titles.each do |title| %>
    <label><%= title.name %><input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"></label>
    <br>
  <% end %>
  <p>And/or create a new one:</p>
  <label>Title Name: <input type="text" name="title[name]" id="new_title"></label>
  <% all_landmarks.each do |landmark| %>
    <label><%= landmark.name %> <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"></label>
  <% end %>
  <label>Name: <input name="landmark[name]" id="new_landmark"></label>
  <input type="submit" value="Create New Figure">
</form>
